body {
  margin: 30px 10px;
}

a {
  text-decoration: none;
}

ul {
  margin-top: 10px;
  padding: 0;
  font-size: 16px;
}

li {
  list-style: none;
}

button.location {
  min-width: 60%;
}

footer {
  text-align: center;
  font-size: 12px;
  opacity: 0.7;
}
